body {
font-family: 'Work Sans', sans-serif;
margin: 0 auto 0 auto;
background-color: #f4f4f4;
color: #505050;
}


input {
	border-bottom: 1px solid darkgrey; 
	border-left: none; 
	border-top: none; 
	border-right: none;
	background-color: #e6f3ff;
	color: #595959;
	text-align: right;
}


#parent {
	  display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8.2%;

}
#logInBox {
    		
  background-color: #e6f3ff;
	border: 0.5px solid lightgrey;
	border-radius: 10px;
	padding: 3em 0em 3em 0em;
	width: 30em;
}	

.addUserInput {
	background-color: #f4f4f4;
}


select {
  
  font-size: 14px;
  background-color: #fbfbfb;
  
  border: 1px solid #CCC;
}



ul {
  list-style-type: none;
  background-color:#bfdfff; 
  margin:0;
  padding:0;
  top:0;
  
  position: fixed;
  width:100%;
  
  overflow:hidden;
  box-shadow: 0px 1.2px 13px #888888;
  
}

li {
  font-weight: 500;
  float:right;
  font-family:Segoe UI;
  color:#bfbfbf;
  font-size: 24px;
  margin-right: 9%;


}

li a {
  text-decoration:none;
  color:#999999;
  display: block;
  text-align:center;
  padding:6px 9px 9px 9px; 
  margin: 10px 6px 10px;
  background-color: #f9f9f9;
  border-radius: 3px;
  
  
}

li a:hover {
    background-color: #f2f2f2;
}





table {
  border: 1px solid black;
  
}
table,  th {
  border: 1px solid #BBB;
 border-radius: 3px;
 width: 20em;
 border-collapse: collapse;


}
th {
  padding: 0.5em 0.5em;
   border-left: : none;
  border-right: none
 
  border-radius: 0px;
}

tr:nth-child(even) {background-color: #e6f1ff;}

@media screen and (max-width: 500px) {
    #logInBox {
        
  
  border-radius: 0px;
  
 }
 li {
  
  margin-right: 4%;


} 
}






